.email1,
.email2,
.email3 {
  border: 1.3px solid var(--color-lightgray);
  font-family: var(--font-ibm-plex-serif);
  font-size: var(--font-size-xl);
  background-color: var(--color-white);
  position: absolute;
  height: 6.39%;
  width: 28.5%;
  top: 37.5%;
  right: 34.78%;
  bottom: 56.11%;
  left: 36.72%;
  box-shadow: 0 5.131353378295898px 5.13px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-2xl);
  align-items: center;
  justify-content: flex-start;
}
.email2,
.email3 {
  top: 55.98%;
  bottom: 37.63%;
}
.email3 {
  top: 46.74%;
  right: 34.7%;
  bottom: 46.87%;
  left: 36.8%;
}
.ui-essential-app-avatar-profil1 {
  position: absolute;
  top: 101.34px;
  left: 781.25px;
  width: 41.05px;
  height: 39.77px;
  overflow: hidden;
}
.confirm {
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 600;
  font-family: var(--font-ibm-plex-serif);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 82px;
  height: 28px;
  flex-shrink: 0;
}.toast {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 9999;
  /* Default background color for toast */
  background-color: #333;
}

.toast.success {
  background-color: green;
}

.toast.error {
  background-color: red;
}
.continue1 {
  cursor: pointer;
  border: 1.3px solid var(--color-lightgray);
  padding: 12.828383445739746px;
  background-color: var(--color-darkslateblue-100);
  position: absolute;
  height: 6.67%;
  width: 18.92%;
  top: 68.61%;
  right: 40.5%;
  bottom: 24.72%;
  left: 40.58%;
  box-shadow: 0 5.131353378295898px 5.13px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.forget-password {
  position: relative;
}
.login1 {
  position: absolute;
  height: 4.72%;
  width: 14.76%;
  top: 29.44%;
  right: 41.46%;
  bottom: 65.83%;
  left: 43.78%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.microsoftteams-image-1-210 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  border-radius: var(--br-8xs);
  width: 264px;
  height: 107px;
  flex-shrink: 0;
  background-image: url(/public/microsoftteamsimage123@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  mix-blend-mode: difference;
}
.microsoftteams-image-1-2-container {
  position: absolute;
  height: 14.86%;
  width: 22%;
  top: 7.5%;
  right: 39%;
  bottom: 77.64%;
  left: 39%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}
.img-icon9 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 84px;
}
.microsoftteams-image-1-211 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  bottom: 23px;
  left: 45.89px;
  border-radius: var(--br-8xs);
  width: 79.8px;
  height: 39px;
  background-image: url(/public/microsoftteamsimage122@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.contact-us9 {
  position: absolute;
  top: 0;
  left: 26.5px;
  font-size: var(--font-size-3xl);
  font-weight: 600;
  display: inline-block;
  width: 124px;
  height: 34px;
}
.email-claimlygmailcom9,
.ph-no-919 {
  position: absolute;
  top: 36px;
  left: 0;
  display: inline-block;
  width: 177px;
  height: 21px;
}
.ph-no-919 {
  top: 59px;
  left: 13px;
  width: 151px;
  height: 20px;
}
.contact-us-parent6 {
  position: absolute;
  bottom: 5px;
  left: calc(50% - 87.28px);
  width: 176.56px;
  height: 79px;
}
.group-child19,
.img-parent2 {
  position: absolute;
  right: 53.94px;
  bottom: 27.91px;
  width: 135.59px;
  height: 29.09px;
}
.img-parent2 {
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  height: 84px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
}
.forgot-password {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 736px;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-gray-100);
  font-family: var(--font-ibm-plex-serif);
}
